/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  padding-bottom: 2px;
  border-bottom: lightgrey 2px solid;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 1.4em;
  display: block;
  color: green;
}

.story-user {
  display: block;
  margin-left: 1.4em;
  color: orange;
}

.favorite{
  color: grey;
}

.story-info{
  display: inline;
}

hr{
  color: lightgrey;
  border-top: 1.5px solid;
}

.trash{
  display: inline;
  
}

.trash img{
  height: 12px;
}

